header {
  text-align: center;
}

.container {
  width: 600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}

.calculator {
  position: relative;
  width: 600px;
  height: 600px;
}

@media screen and (max-width: 600px) {
  .container {
    width: 350px;
    height: 350px;
  }

  .calculator {
    width: 350px;
    height: 350px;
  }
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.middleNew {
  z-index: 2;
  width: 90%;
}
.topNew {
  z-index: 3;
  width: 70%;
}
.bottomNew {
  z-index: 1;
  width: 100%;
}

.panel {
  display: flex;
  justify-content: space-around;
}

.panel-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}
